@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(bg6.jpg);
	background-position: center;
	background-size: fixed;
}
.logo
{
    background-color: pink;
}

.main-content
{
	height: 700px;
	width: 100%;
	background-color: pink;
}
.login-box{
	width: 400px;
	height: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	color: #ff6fa3;
	box-sizing: border-box;
}
.textbox{
	width: 100%
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #676661;
}
.textbox i{
	width: 26px;
	float: left;
	text-align: center;
}
.textbox input{
	border: 2px solid black;
	outline: none;
	background: pink;
	color: white;
	font-size: 18px;
	width: 80%;
	height: 50px;
	float: left;
	margin: 0 10px;
}
.btn{
	width: 75%;
	background: none;
	border: 2px solid pink;
	color: pink;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	margin: 12px;
}
